@import "./taskCreation/NewTask";

.tasksWrapper {
    display: flex;
    margin-top: 129px;
    margin-left: 94px;

    table {
        table-layout: fixed;
        margin-top: 82px;

        thead {
            th {
                font-size: 16px;
                background-color: white;
                color: #404147;
                font-weight: 400;
                font-family: "Ubuntu";
                text-align: start;
                width: 100px;
                height: 50px;
                cursor: pointer;
                border-bottom: 3px solid #eef1f4;

                position: sticky;
                top: 149px;

                p {
                    display: flex;
                    align-items: center;
                    margin-left: 0px;
                    height: 30px;
                    border-right: 1px solid #eef1f4;
                }

                &:nth-child(1) {
                    width: 100px;

                    p {
                        margin-left: 0px;
                        justify-content: center;
                    }
                }

                &:nth-child(2) {
                    width: 800px;
                }

                &:nth-child(4) {
                    width: 100vw;
                }

                p {
                    margin-left: 10px;
                    justify-content: end;
                }
            }
        }

        tbody {
            td {
                width: 119px;
                height: 50px;
                font-size: 16px;
                color: #525460;
                font-weight: 300;
                border-bottom: 1px solid #eef1f4;
                cursor: pointer;

                p {
                    margin-left: 10px;
                }

                &:nth-child(1) {
                    text-align: center;

                    p {
                        margin-left: 0px;
                    }
                }

                &:nth-child(2) {
                    width: 800px;
                }

                &:nth-child(4) {
                    width: 100vw;

                    p {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}

.tableWrapper {
    width: 2000px;
    height: 100vh;
}

.btnBlock {
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: 1px;
    padding-left: 286px;
    height: 85px;
    width: 100vw;
    position: fixed;
    z-index: 2000;
}

.btn {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background-color: #008cf0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    font-family: "Ubuntu";
    cursor: pointer;
}

.statusBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 22px;
    border-radius: 11px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    margin-left: 10px;

    p {
        margin: 0px;
    }
}

.tasksTableBlock {
    display: flex;
}
