@import "Header";
@import "Navbar";
@import "./taskPage/TaskPage";
@import "Loader";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

a {
    text-decoration: none;
    color: inherit;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Roboto", "Ubuntu", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

p {
    margin: 0;
}

button {
    border: none;
    outline: none;
}

input,
textarea,
select {
    outline: none;
}

.appContent {
    display: flex;
    margin-top: -65px;
    // overflow-x: scroll;
    // overflow-y: auto;
    overflow: auto;
}

.selected {
    li {
        background-color: #002b49;
    }
}

.pageHeading {
    margin-top: 181px;
    margin-left: 159px;
}
