.navbarWrapper {
    position: fixed;
    z-index: 20000;
    top: 0;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color: #002137;
    width: 95px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 300;

    ul {
        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 95px;
            height: 70px;
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                background-color: #002b49;
            }
        }
    }
}

.assets {
    position: relative;
    top: -2px;
    left: 0px;
    width: 28px;

    p {
        position: relative;
        bottom: 7px;
    }
}

.logo {
    width: 136px;
    margin: 13px 0 12px 24px;
}
